.recent-guess, .blue, .red, .green{
    font-size: 36px;
    font-weight: bold;
}

.blue{
    color: #2364CF;

}

.red{
    color: #A80743;

}

.green{
    color: #1CA128;
}

p{
    text-align: center;
}